@charset "UTF-8";
/* CSS Document */
.flexigrid {
  line-height: normal;
  position: relative;
  border: 0px solid $table-border-color;
  overflow: hidden;
  color: #000;
}

.flexigrid.hideBody {
  height: 32px;
  border-bottom: 1px solid $table-border-color;
}

.ie6fullwidthbug {
  border-right: 0;
  padding-right: 2px;
}

/*
hide show buttons
*/
.flexigrid > div.nDiv {
  border: 1px solid $table-border-color;
  overflow: auto;
  left: 0px;
  position: absolute;
  z-index: 999;
  float: left;
  background-color: $white;
  > table {
    margin: 2px;
    > tbody {
      > tr {
        > td {
          padding: 5px;
          cursor: default;
          cursor: pointer;
          &.ndcol1 {
            border-right: 1px solid $table-border-color;
          }
          &.ndcol2 {
            padding-right: 10px;
          }
        }
        &:hover > td, &.ndcolover > td {
          background-color: $table-bg-hover;
        }
      }
    }
  }
}

.flexigrid > div.nBtn {
  position: absolute;
  height: 32px;
  width: 14px;
  z-index: 900;
  border-left: 1px solid $table-border-color;
  border-right: 1px solid $table-border-color;
  top: 0px;
  left: 0px;
  margin-top: 1px;
  cursor: pointer;
  display: none;
  background-color: $white;
  @extend .fa;
  &:before {
    @extend .fa-sort-desc;
    position: absolute;
    left: 20%;
    top: 20%;
  }
}

//title
.flexigrid div.mDiv {
  border: 1px solid $table-border-color;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin-bottom: -1px;
  div {
    padding: 8px;
    white-space: nowrap;
  }
  div.ptogtitle {
    position: absolute;
    top: 4px;
    right: 3px;
    padding: 0px;
    height: 16px;
    width: 16px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      border-color: #bbb;
    }
    i {
      display: block;
      @extend .a-t-eo;
      font-size: 1.4em;
    }
    &.vsble i {
      @extend .a-rotate-180;
    }
  }
}

//search div
.flexigrid > div.sDiv {
  position: relative;
  border: 1px solid $table-border-color;
  border-top: 0px;
  overflow: hidden;
  display: none;
  > div.sDiv2 {
    float: left;
    clear: both;
    padding: 8px;
    width: 1024px;
    input, select {
      vertical-align: middle;
    }
  }
}

.flexigrid div.btnseparator {
  float: left;
  height: 22px;
  border-left: 1px solid $table-border-color;
  border-right: 1px solid #fff;
  margin: 1px;
}

/* useless
//toolbar
.flexigrid > div.tDiv {
  position: relative;
  border: 1px solid $table-border-color;
  border-bottom: 0px;
  overflow: hidden;
  > div.tDiv2 {
    float: left;
    clear: both;
    padding: 1px;
  }
}
.flexigrid div.fbutton {
  float: left;
  display: block;
  cursor: pointer;
  padding: 1px;
}

.flexigrid div.fbutton div {
  float: left;
  padding: 1px 3px;
}

.flexigrid div.fbutton span {
  float: left;
  display: block;
  padding: 3px;
}

.flexigrid div.fbutton:hover, .flexigrid div.fbutton.fbOver {
  padding: 0px;
  border: 1px solid #ccc;
}

.flexigrid div.fbutton:hover div, .flexigrid div.fbutton.fbOver div {
  padding: 0px 2px;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
*/

/* end toolbar*/

/*
改变列宽
*/
.flexigrid > div.cDrag {
  float: left;
  position: absolute;
  z-index: 2;
  overflow: visible;
  div {
    float: left;
    background: none;
    display: block;
    position: absolute;
    height: 24px;
    width: 5px;
    cursor: col-resize;
    &:hover, &.dragging {
      @include background-image(linear-gradient(left, transparent 2px, $soft-blue-light 50%, $soft-blue-light 51%, transparent 52%, transparent));
      background-image: -ms-linear-gradient(left, $soft-blue-light 0% , $soft-blue-light 100%);
    }
  }
}

/*
用于显示操作数据在最后一行，暂时无用
*/
.flexigrid > div.iDiv {
  border: 1px solid $table-border-color;
  position: absolute;
  overflow: visible;
  background: none;
  input.tb {
    border: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    background: none;
  }
}

/* common inner cell properties*/

.flexigrid div.hDiv > div.hDivBox > table > thead > tr , div.colCopy {
  font-weight: bold;
  background-color: $white;
}

%flexigridtd {
  text-align: left;
  border: 1px solid $table-border-color;
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  > div {
    padding: 8px;
  }
}

/*
表头
*/
.flexigrid > div.hDiv {
  position: relative;
  border-right: 1px solid $table-border-color;
  border-bottom: 0px;
  overflow: hidden;
  margin-bottom: -1px;
  > div.hDivBox {
    float: left;
    padding-right: 40px;
    border-bottom: 1px solid $table-border-color;
    > table {
      > thead {
        > tr {
          > th {
            @extend %flexigridtd;
            &.thMove {
              > div {
                visibility: hidden;
              }
            }
            > div.sdesc,> div.sasc{
              position: relative;
              @extend .fa;
              &:before {
                position: absolute;
                top: -2px;
                left: 50%;
              }
            }
            > div.sdesc {
              &:before {
                @extend .fa-caret-up:before;
              }
            }
            > div.sasc {
              &:before {
                @extend .fa-caret-down:before;
              }
            }
          }
        }
      }
    }
  }
}

/*
 改变列位置时的效果
*/
div.colCopy {
  @extend %flexigridtd;
}

.flexigrid>div.hDiv {
  span.cdropleft {
    z-index: 3;
    @extend .fa-caret-left;
  }
  span.cdropright {
    right: 0;
    @extend .fa-caret-right;
  }
  span.cdropleft, span.cdropright {
    @extend .fa;
    display: block;
    position: absolute;
    top: 20%;
    font-size: 1.4em;
  }
}

/*
body
*/
  .flexigrid div.bDiv {
  border: 1px solid $table-border-color;
  border-top: 0px;
  background: #fff;
  overflow: auto;
  position: relative;
  > table {
    margin-bottom: 10px;
    margin-left: -1px;
    margin-top: -1px;
    &.autoht {
      border-bottom: 0px;
      margin-bottom: 0px;
    }
    > tbody > tr {
      &:hover, &.trOver {
        background: $table-bg-hover;
      }
      &.erow {
        background: $table-bg-accent;
      }
      & > td {
        @extend %flexigridtd;
      }
    }
  }
}

/* novstripe adjustments 没有td分割线的样式 */
.flexigrid.novstripe .bDiv > table {
  > tr {
    > td {
      border-right-color: transparent;
      border-left-color: transparent;
    }
    &.erow > td, > td {
      &:last-child {
        border-right-color: $table-border-color;
      }
    }
    &.erow > td {
      border-right-color: $table-bg-accent;
      border-left-color: $table-bg-accent;
    }
    &.trOver, &:hover {
      border-left-color: $table-bg-hover;
      border-right-color: $table-bg-hover;
    }
  }
}

/*page div*/
.flexigrid>div.pDiv {
  border: 1px solid $table-border-color;
  border-top: 0px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  >div.pDiv2 {
    margin: 3px 3px 3px -2px;
    float: left;
    width: 1024px;
  }
  .pPageStat, .pcontrol {
    position: relative;
    top: 5px;
    overflow: visible;
  }
  input {
    vertical-align: text-top;
    position: relative;
    top: -8px;
    margin: 3px;
  }
  select {
    margin: 3px;
  }
  div.pButton {
    float: left;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-size: 1.4em;
    margin-top: 2px;
    min-width: 12px;
    @extend .fa;
    &:hover, &.pBtnOver {
      color: $soft-blue;
    }
    &.pFirst {
      @extend .fa-angle-double-left;
    }
    &.pPrev {
      @extend .fa-angle-left;
      margin-left: 5px;
    }
    &.pNext {
      @extend .fa-angle-right;
    }
    &.pLast {
      @extend .fa-angle-double-right;
      margin-left: 5px;
    }
    &.pReload {
      @extend .fa-refresh;
      font-size: 1em;
      margin-top: 5px;
      &.loading {
        @extend .a-spin;
      }
    }
    &.pSearch {
      @extend .fa-search;
    }
  }

  div.pGroup {
    float: left;
    background: none;
    height: 24px;
    margin: 0px 5px;
  }

}

/*
scale bar bottom
*/
.flexigrid > div.vGrip {
  height: 5px;
  overflow: hidden;
  position: relative;
  border: 1px solid $table-border-color;
  border-top: 0px;
  text-align: center;
  cursor: row-resize;
  background-color: $table-bg-accent;
  > span {
    display: block;
    margin: 1px auto;
    width: 20px;
    height: 1px;
    overflow: hidden;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background: none;
  }
}

/*
改变表宽
*/
.flexigrid > div.hGrip {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 5px;
  width: 5px;
  margin-right: 1px;
  cursor: col-resize;
  border-right: 1px solid transparent;
  &:hover, &.hgOver {
    border-right: 1px solid #aaaaaa;
  }
  > span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    overflow: hidden;
    background-image: -ms-linear-gradient(left, $table-border-color 0%, $table-border-color 35%, #fff 36%, #fff 64%, $table-border-color 65%, $table-border-color);
    @include background-image(linear-gradient(left, $table-border-color 0%, $table-border-color 35%, #fff 36%, #fff 64%, $table-border-color 65%, $table-border-color));
  }
}
